.text-center{
  padding:-1rem;
  margin:.5rem;
  margin-top:-3rem;
  padding-bottom:1rem;
  
}


.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
  
}

.list-group-item{
  max-height: 300px;
  overflow:scroll;
  border-color: black;
  align-items: center;
}

.list-group-item.active {
  background-color: rgb(216, 0, 0);
  border-color: rgb(7, 7, 7);
  
}


.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}